@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.form-group {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

table td {
  color: grey;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

